NETWORK_VPN_INTERFACE={{ ssh_tun_network_interface }}
NETWORK_VPN_SERVER_IPV4={{ ssh_tun_public_host }}
NETWORK_VPN_GATEWAY_IPV4=10.11.12.1
NETWORK_VPN_CLIENT_CIDR_IPV4=10.11.12.2/30
NETWORK_VPN_MTU={{ ssh_tun_client_tun_mtu }}
