network_vpn_interface={{ ssh_tun_network_interface }}
network_vpn_server_ipv4={{ ssh_tun_public_host }}
network_vpn_gateway_ipv4=10.11.12.1
network_vpn_client_cidr_ipv4=10.11.12.2/30
network_vpn_mtu={{ ssh_tun_client_tun_mtu }}
