$TTL 60
$ORIGIN cascade-local-ads-tracking.
@ IN SOA localhost. root.localhost. 1 3600 600 86400 60
@ IN NS localhost.
; Local ad/tracking RPZ for Cascade egress, maintained in the repository.
; The explicit suffix/exact entries are intentionally kept outside Vault.
; DOMAIN-KEYWORD, regexp, and geosite rules remain enforced by Xray on ingress.
2giga.link CNAME .
*.2giga.link CNAME .
a.klaviyo.com CNAME .
*.a.klaviyo.com CNAME .
a.lenovo.com CNAME .
*.a.lenovo.com CNAME .
a.teads.tv CNAME .
*.a.teads.tv CNAME .
aan.amazon.com CNAME .
*.aan.amazon.com CNAME .
aax.amazon-adsystem.com CNAME .
*.aax.amazon-adsystem.com CNAME .
acdn.adnxs.com CNAME .
*.acdn.adnxs.com CNAME .
actionpay.ru CNAME .
*.actionpay.ru CNAME .
ad-tech.ru CNAME .
*.ad-tech.ru CNAME .
ad.adriver.ru CNAME .
*.ad.adriver.ru CNAME .
ad.doubleclick.net CNAME .
*.ad.doubleclick.net CNAME .
ad.gt CNAME .
*.ad.gt CNAME .
ad.lgappstv.com CNAME .
*.ad.lgappstv.com CNAME .
ad.linksynergy.com CNAME .
*.ad.linksynergy.com CNAME .
ad.mail.ru CNAME .
*.ad.mail.ru CNAME .
adc3-launch.adcolony.com CNAME .
*.adc3-launch.adcolony.com CNAME .
adeventtracker.spotify.com CNAME .
*.adeventtracker.spotify.com CNAME .
adfox.ru CNAME .
*.adfox.ru CNAME .
adfox.yandex.ru CNAME .
*.adfox.yandex.ru CNAME .
adfstat.yandex.ru CNAME .
*.adfstat.yandex.ru CNAME .
adhigh.net CNAME .
*.adhigh.net CNAME .
adjust.com CNAME .
*.adjust.com CNAME .
adlog.vivo.com CNAME .
*.adlog.vivo.com CNAME .
adm.hotjar.com CNAME .
*.adm.hotjar.com CNAME .
adnxs.com CNAME .
*.adnxs.com CNAME .
adriver.ru CNAME .
*.adriver.ru CNAME .
adroll.com CNAME .
*.adroll.com CNAME .
ads-api.tiktok.com CNAME .
*.ads-api.tiktok.com CNAME .
ads-api.twitter.com CNAME .
*.ads-api.twitter.com CNAME .
ads-api.vivo.com CNAME .
*.ads-api.vivo.com CNAME .
ads-api.x.com CNAME .
*.ads-api.x.com CNAME .
ads-sg.tiktok.com CNAME .
*.ads-sg.tiktok.com CNAME .
ads.adfox.ru CNAME .
*.ads.adfox.ru CNAME .
ads.betweendigital.com CNAME .
*.ads.betweendigital.com CNAME .
ads.exosrv.com CNAME .
*.ads.exosrv.com CNAME .
ads.huawei.com CNAME .
*.ads.huawei.com CNAME .
ads.linkedin.com CNAME .
*.ads.linkedin.com CNAME .
ads.mail.ru CNAME .
*.ads.mail.ru CNAME .
ads.microsoft.com CNAME .
*.ads.microsoft.com CNAME .
ads.pinterest.com CNAME .
*.ads.pinterest.com CNAME .
ads.pubmatic.com CNAME .
*.ads.pubmatic.com CNAME .
ads.roku.com CNAME .
*.ads.roku.com CNAME .
ads.snapchat.com CNAME .
*.ads.snapchat.com CNAME .
ads.tiktok.com CNAME .
*.ads.tiktok.com CNAME .
ads.tremorhub.com CNAME .
*.ads.tremorhub.com CNAME .
ads.vizio.com CNAME .
*.ads.vizio.com CNAME .
ads.vk.com CNAME .
*.ads.vk.com CNAME .
ads.x.com CNAME .
*.ads.x.com CNAME .
ads.yahoo.com CNAME .
*.ads.yahoo.com CNAME .
ads30.adcolony.com CNAME .
*.ads30.adcolony.com CNAME .
ads6.adfox.ru CNAME .
*.ads6.adfox.ru CNAME .
adsdk.yandex.ru CNAME .
*.adsdk.yandex.ru CNAME .
adserver.unityads.unity3d.com CNAME .
*.adserver.unityads.unity3d.com CNAME .
adservetx.media.net CNAME .
*.adservetx.media.net CNAME .
adservice.google.com CNAME .
*.adservice.google.com CNAME .
adservice.google.ru CNAME .
*.adservice.google.ru CNAME .
adsfs.oppomobile.com CNAME .
*.adsfs.oppomobile.com CNAME .
adskeeper.co.uk CNAME .
*.adskeeper.co.uk CNAME .
adsrvr.org CNAME .
*.adsrvr.org CNAME .
adtago.s3.amazonaws.com CNAME .
*.adtago.s3.amazonaws.com CNAME .
adtech.yahooinc.com CNAME .
*.adtech.yahooinc.com CNAME .
advertising.yahoo.com CNAME .
*.advertising.yahoo.com CNAME .
advertising.yandex.ru CNAME .
*.advertising.yandex.ru CNAME .
advertur.ru CNAME .
*.advertur.ru CNAME .
advice-ads.s3.amazonaws.com CNAME .
*.advice-ads.s3.amazonaws.com CNAME .
advmaker.ru CNAME .
*.advmaker.ru CNAME .
adx.ads.oppomobile.com CNAME .
*.adx.ads.oppomobile.com CNAME .
afs.googlesyndication.com CNAME .
*.afs.googlesyndication.com CNAME .
amazon-adsystem.com CNAME .
*.amazon-adsystem.com CNAME .
an.facebook.com CNAME .
*.an.facebook.com CNAME .
an.yandex.ru CNAME .
*.an.yandex.ru CNAME .
analytics-api.samsunghealthcn.com CNAME .
*.analytics-api.samsunghealthcn.com CNAME .
analytics-sg.tiktok.com CNAME .
*.analytics-sg.tiktok.com CNAME .
analytics.adobe.io CNAME .
*.analytics.adobe.io CNAME .
analytics.google.com CNAME .
*.analytics.google.com CNAME .
analytics.pointdrive.linkedin.com CNAME .
*.analytics.pointdrive.linkedin.com CNAME .
analytics.query.yahoo.com CNAME .
*.analytics.query.yahoo.com CNAME .
analytics.s3.amazonaws.com CNAME .
*.analytics.s3.amazonaws.com CNAME .
analytics.tiktok.com CNAME .
*.analytics.tiktok.com CNAME .
analytics.twitter.com CNAME .
*.analytics.twitter.com CNAME .
analytics.yahoo.com CNAME .
*.analytics.yahoo.com CNAME .
analyticsengine.s3.amazonaws.com CNAME .
*.analyticsengine.s3.amazonaws.com CNAME .
apex.go.sonobi.com CNAME .
*.apex.go.sonobi.com CNAME .
api-adservices.apple.com CNAME .
*.api-adservices.apple.com CNAME .
api-js.mixpanel.com CNAME .
*.api-js.mixpanel.com CNAME .
api.ad.xiaomi.com CNAME .
*.api.ad.xiaomi.com CNAME .
api.amplitude.com CNAME .
*.api.amplitude.com CNAME .
api.bugsnag.com CNAME .
*.api.bugsnag.com CNAME .
api.fpjs.io CNAME .
*.api.fpjs.io CNAME .
api.fyber.com CNAME .
*.api.fyber.com CNAME .
api.impact.com CNAME .
*.api.impact.com CNAME .
api.luckyorange.com CNAME .
*.api.luckyorange.com CNAME .
api.mixpanel.com CNAME .
*.api.mixpanel.com CNAME .
api.mouseflow.com CNAME .
*.api.mouseflow.com CNAME .
api.onesignal.com CNAME .
*.api.onesignal.com CNAME .
api.optimizely.com CNAME .
*.api.optimizely.com CNAME .
api.partnerstack.com CNAME .
*.api.partnerstack.com CNAME .
api.refersion.com CNAME .
*.api.refersion.com CNAME .
api.rlcdn.com CNAME .
*.api.rlcdn.com CNAME .
api.segment.io CNAME .
*.api.segment.io CNAME .
api.taboola.com CNAME .
*.api.taboola.com CNAME .
api.viglink.com CNAME .
*.api.viglink.com CNAME .
api.vungle.com CNAME .
*.api.vungle.com CNAME .
api2.amplitude.com CNAME .
*.api2.amplitude.com CNAME .
api2.branch.io CNAME .
*.api2.branch.io CNAME .
app-measurement.com CNAME .
*.app-measurement.com CNAME .
app.adjust.com CNAME .
*.app.adjust.com CNAME .
app.appsflyer.com CNAME .
*.app.appsflyer.com CNAME .
app.bugsnag.com CNAME .
*.app.bugsnag.com CNAME .
app.getsentry.com CNAME .
*.app.getsentry.com CNAME .
app.posthog.com CNAME .
*.app.posthog.com CNAME .
app.usercentrics.eu CNAME .
*.app.usercentrics.eu CNAME .
applovin.com CNAME .
*.applovin.com CNAME .
appmetrica.io CNAME .
*.appmetrica.io CNAME .
appmetrica.yandex.ru CNAME .
*.appmetrica.yandex.ru CNAME .
appsflyer.com CNAME .
*.appsflyer.com CNAME .
as.casalemedia.com CNAME .
*.as.casalemedia.com CNAME .
auction.unityads.unity3d.com CNAME .
*.auction.unityads.unity3d.com CNAME .
awaps.yandex.ru CNAME .
*.awaps.yandex.ru CNAME .
b.scorecardresearch.com CNAME .
*.b.scorecardresearch.com CNAME .
bam-cell.nr-data.net CNAME .
*.bam-cell.nr-data.net CNAME .
bam.nr-data.net CNAME .
*.bam.nr-data.net CNAME .
banners.adfox.ru CNAME .
*.banners.adfox.ru CNAME .
bat.bing.com CNAME .
*.bat.bing.com CNAME .
bdapi-ads.realmemobile.com CNAME .
*.bdapi-ads.realmemobile.com CNAME .
bdapi-in-ads.realmemobile.com CNAME .
*.bdapi-in-ads.realmemobile.com CNAME .
betweendigital.com CNAME .
*.betweendigital.com CNAME .
betweenexchange.com CNAME .
*.betweenexchange.com CNAME .
bidder.criteo.com CNAME .
*.bidder.criteo.com CNAME .
bidswitch.net CNAME .
*.bidswitch.net CNAME .
bingads.microsoft.com CNAME .
*.bingads.microsoft.com CNAME .
bluekai.com CNAME .
*.bluekai.com CNAME .
bnc.lt CNAME .
*.bnc.lt CNAME .
bodyclick.net CNAME .
*.bodyclick.net CNAME .
books-analytics-events.apple.com CNAME .
*.books-analytics-events.apple.com CNAME .
braze.com CNAME .
*.braze.com CNAME .
browser.sentry-cdn.com CNAME .
*.browser.sentry-cdn.com CNAME .
bs.yandex.ru CNAME .
*.bs.yandex.ru CNAME .
bumlam.com CNAME .
*.bumlam.com CNAME .
business-api.tiktok.com CNAME .
*.business-api.tiktok.com CNAME .
buzzoola.com CNAME .
*.buzzoola.com CNAME .
c.bing.com CNAME .
*.c.bing.com CNAME .
c.clarity.ms CNAME .
*.c.clarity.ms CNAME .
c.gumgum.com CNAME .
*.c.gumgum.com CNAME .
capi.connatix.com CNAME .
*.capi.connatix.com CNAME .
careers.hotjar.com CNAME .
*.careers.hotjar.com CNAME .
casalemedia.com CNAME .
*.casalemedia.com CNAME .
cd.connatix.com CNAME .
*.cd.connatix.com CNAME .
cdn-test.mouseflow.com CNAME .
*.cdn-test.mouseflow.com CNAME .
cdn.cookielaw.org CNAME .
*.cdn.cookielaw.org CNAME .
cdn.doubleverify.com CNAME .
*.cdn.doubleverify.com CNAME .
cdn.dsp-rambler.ru CNAME .
*.cdn.dsp-rambler.ru CNAME .
cdn.dynamicyield.com CNAME .
*.cdn.dynamicyield.com CNAME .
cdn.heapanalytics.com CNAME .
*.cdn.heapanalytics.com CNAME .
cdn.indexexchange.com CNAME .
*.cdn.indexexchange.com CNAME .
cdn.kargo.com CNAME .
*.cdn.kargo.com CNAME .
cdn.lr-ingest.com CNAME .
*.cdn.lr-ingest.com CNAME .
cdn.luckyorange.com CNAME .
*.cdn.luckyorange.com CNAME .
cdn.mgid.com CNAME .
*.cdn.mgid.com CNAME .
cdn.mouseflow.com CNAME .
*.cdn.mouseflow.com CNAME .
cdn.onesignal.com CNAME .
*.cdn.onesignal.com CNAME .
cdn.optimizely.com CNAME .
*.cdn.optimizely.com CNAME .
cdn.permutive.com CNAME .
*.cdn.permutive.com CNAME .
cdn.privacy-mgmt.com CNAME .
*.cdn.privacy-mgmt.com CNAME .
cdn.rudderlabs.com CNAME .
*.cdn.rudderlabs.com CNAME .
cdn.segment.com CNAME .
*.cdn.segment.com CNAME .
cdn.siftscience.com CNAME .
*.cdn.siftscience.com CNAME .
cdn.taboola.com CNAME .
*.cdn.taboola.com CNAME .
cdn.teads.tv CNAME .
*.cdn.teads.tv CNAME .
cdn.viglink.com CNAME .
*.cdn.viglink.com CNAME .
cityads.com CNAME .
*.cityads.com CNAME .
ck.ads.oppomobile.com CNAME .
*.ck.ads.oppomobile.com CNAME .
clarity.ms CNAME .
*.clarity.ms CNAME .
claritybt.freshmarketer.com CNAME .
*.claritybt.freshmarketer.com CNAME .
clck.yandex.ru CNAME .
*.clck.yandex.ru CNAME .
clevertap-prod.com CNAME .
*.clevertap-prod.com CNAME .
click.googleanalytics.com CNAME .
*.click.googleanalytics.com CNAME .
click.linksynergy.com CNAME .
*.click.linksynergy.com CNAME .
click.mailchimp.com CNAME .
*.click.mailchimp.com CNAME .
click.oneplus.cn CNAME .
*.click.oneplus.cn CNAME .
clickadu.com CNAME .
*.clickadu.com CNAME .
clientstream.launchdarkly.com CNAME .
*.clientstream.launchdarkly.com CNAME .
cloudflare-dns.com CNAME .
*.cloudflare-dns.com CNAME .
cmp.osano.com CNAME .
*.cmp.osano.com CNAME .
coinimp.com CNAME .
*.coinimp.com CNAME .
config.samsungads.com CNAME .
*.config.samsungads.com CNAME .
config.unityads.unity3d.com CNAME .
*.config.unityads.unity3d.com CNAME .
connect.facebook.net CNAME .
*.connect.facebook.net CNAME .
consent.cookiebot.com CNAME .
*.consent.cookiebot.com CNAME .
consent.trustarc.com CNAME .
*.consent.trustarc.com CNAME .
consentcdn.cookiebot.com CNAME .
*.consentcdn.cookiebot.com CNAME .
contextual.media.net CNAME .
*.contextual.media.net CNAME .
contextweb.com CNAME .
*.contextweb.com CNAME .
control.kochava.com CNAME .
*.control.kochava.com CNAME .
cookiebot.com CNAME .
*.cookiebot.com CNAME .
counter.rambler.ru CNAME .
*.counter.rambler.ru CNAME .
crashdump.spotify.com CNAME .
*.crashdump.spotify.com CNAME .
criteo.com CNAME .
*.criteo.com CNAME .
criteo.net CNAME .
*.criteo.net CNAME .
crwdcntrl.net CNAME .
*.crwdcntrl.net CNAME .
crypto-loot.org CNAME .
*.crypto-loot.org CNAME .
cs.luckyorange.net CNAME .
*.cs.luckyorange.net CNAME .
ct.pinterest.com CNAME .
*.ct.pinterest.com CNAME .
customer.io CNAME .
*.customer.io CNAME .
d.adroll.com CNAME .
*.d.adroll.com CNAME .
d.applovin.com CNAME .
*.d.applovin.com CNAME .
d.impactradius-event.com CNAME .
*.d.impactradius-event.com CNAME .
d.reddit.com CNAME .
*.d.reddit.com CNAME .
dai.google.com CNAME .
*.dai.google.com CNAME .
data.ads.oppomobile.com CNAME .
*.data.ads.oppomobile.com CNAME .
data.mistat.india.xiaomi.com CNAME .
*.data.mistat.india.xiaomi.com CNAME .
data.mistat.rus.xiaomi.com CNAME .
*.data.mistat.rus.xiaomi.com CNAME .
data.mistat.xiaomi.com CNAME .
*.data.mistat.xiaomi.com CNAME .
decide.mixpanel.com CNAME .
*.decide.mixpanel.com CNAME .
device-metrics-us-2.amazon.com CNAME .
*.device-metrics-us-2.amazon.com CNAME .
device-metrics-us.amazon.com CNAME .
*.device-metrics-us.amazon.com CNAME .
directadvert.ru CNAME .
*.directadvert.ru CNAME .
dmp.wi-fi.ru CNAME .
*.dmp.wi-fi.ru CNAME .
dns.adguard-dns.com CNAME .
*.dns.adguard-dns.com CNAME .
dns.google CNAME .
*.dns.google CNAME .
dns.nextdns.io CNAME .
*.dns.nextdns.io CNAME .
dns.quad9.net CNAME .
*.dns.quad9.net CNAME .
doh.cleanbrowsing.org CNAME .
*.doh.cleanbrowsing.org CNAME .
doh.opendns.com CNAME .
*.doh.opendns.com CNAME .
doubleclick.net CNAME .
*.doubleclick.net CNAME .
doubleverify.com CNAME .
*.doubleverify.com CNAME .
dsp-rambler.ru CNAME .
*.dsp-rambler.ru CNAME .
eb2.3lift.com CNAME .
*.eb2.3lift.com CNAME .
edge.fullstory.com CNAME .
*.edge.fullstory.com CNAME .
eu.posthog.com CNAME .
*.eu.posthog.com CNAME .
events.hotjar.io CNAME .
*.events.hotjar.io CNAME .
events.reddit.com CNAME .
*.events.reddit.com CNAME .
events.redditmedia.com CNAME .
*.events.redditmedia.com CNAME .
events3alt.adcolony.com CNAME .
*.events3alt.adcolony.com CNAME .
exchange.buzzoola.com CNAME .
*.exchange.buzzoola.com CNAME .
exoclick.com CNAME .
*.exoclick.com CNAME .
extmaps-api.yandex.net CNAME .
*.extmaps-api.yandex.net CNAME .
facebook.net CNAME .
*.facebook.net CNAME .
family.adguard-dns.com CNAME .
*.family.adguard-dns.com CNAME .
fastlane.rubiconproject.com CNAME .
*.fastlane.rubiconproject.com CNAME .
fingerprintjs.com CNAME .
*.fingerprintjs.com CNAME .
firebase-settings.crashlytics.com CNAME .
*.firebase-settings.crashlytics.com CNAME .
fls-na.amazon.com CNAME .
*.fls-na.amazon.com CNAME .
fpjs.io CNAME .
*.fpjs.io CNAME .
freshmarketer.com CNAME .
*.freshmarketer.com CNAME .
fundingchoicesmessages.google.com CNAME .
*.fundingchoicesmessages.google.com CNAME .
fw.adsafeprotected.com CNAME .
*.fw.adsafeprotected.com CNAME .
fwtracks.freshmarketer.com CNAME .
*.fwtracks.freshmarketer.com CNAME .
g.jwpsrv.com CNAME .
*.g.jwpsrv.com CNAME .
gemini.yahoo.com CNAME .
*.gemini.yahoo.com CNAME .
geo.yahoo.com CNAME .
*.geo.yahoo.com CNAME .
geolocation.onetrust.com CNAME .
*.geolocation.onetrust.com CNAME .
getintent.com CNAME .
*.getintent.com CNAME .
go.skimresources.com CNAME .
*.go.skimresources.com CNAME .
google-analytics.com CNAME .
*.google-analytics.com CNAME .
googleads.g.doubleclick.net CNAME .
*.googleads.g.doubleclick.net CNAME .
googleadservices.com CNAME .
*.googleadservices.com CNAME .
googlesyndication.com CNAME .
*.googlesyndication.com CNAME .
googletagmanager.com CNAME .
*.googletagmanager.com CNAME .
graph.facebook.com CNAME .
*.graph.facebook.com CNAME .
greatis.com CNAME .
*.greatis.com CNAME .
grs.hicloud.com CNAME .
*.grs.hicloud.com CNAME .
gtm.mouseflow.com CNAME .
*.gtm.mouseflow.com CNAME .
hbopenbid.pubmatic.com CNAME .
*.hbopenbid.pubmatic.com CNAME .
heapanalytics.com CNAME .
*.heapanalytics.com CNAME .
hotjar.com CNAME .
*.hotjar.com CNAME .
hotlog.ru CNAME .
*.hotlog.ru CNAME .
htlb.casalemedia.com CNAME .
*.htlb.casalemedia.com CNAME .
htlbid.com CNAME .
*.htlbid.com CNAME .
iadsdk.apple.com CNAME .
*.iadsdk.apple.com CNAME .
ib.adnxs.com CNAME .
*.ib.adnxs.com CNAME .
id5-sync.com CNAME .
*.id5-sync.com CNAME .
identify.hotjar.com CNAME .
*.identify.hotjar.com CNAME .
idsync.rlcdn.com CNAME .
*.idsync.rlcdn.com CNAME .
image6.pubmatic.com CNAME .
*.image6.pubmatic.com CNAME .
images.taboola.com CNAME .
*.images.taboola.com CNAME .
imasdk.googleapis.com CNAME .
*.imasdk.googleapis.com CNAME .
img01.rambler.ru CNAME .
*.img01.rambler.ru CNAME .
img02.rambler.ru CNAME .
*.img02.rambler.ru CNAME .
img03.rambler.ru CNAME .
*.img03.rambler.ru CNAME .
img04.rambler.ru CNAME .
*.img04.rambler.ru CNAME .
img05.rambler.ru CNAME .
*.img05.rambler.ru CNAME .
img06.rambler.ru CNAME .
*.img06.rambler.ru CNAME .
img07.rambler.ru CNAME .
*.img07.rambler.ru CNAME .
img08.rambler.ru CNAME .
*.img08.rambler.ru CNAME .
img09.rambler.ru CNAME .
*.img09.rambler.ru CNAME .
img10.rambler.ru CNAME .
*.img10.rambler.ru CNAME .
impact.com CNAME .
*.impact.com CNAME .
in.hotjar.com CNAME .
*.in.hotjar.com CNAME .
indexexchange.com CNAME .
*.indexexchange.com CNAME .
info.lgsmartad.com CNAME .
*.info.lgsmartad.com CNAME .
init.supersonicads.com CNAME .
*.init.supersonicads.com CNAME .
inmobi.com CNAME .
*.inmobi.com CNAME .
insightexpressai.com CNAME .
*.insightexpressai.com CNAME .
insights.hotjar.com CNAME .
*.insights.hotjar.com CNAME .
iot-eu-logser.realme.com CNAME .
*.iot-eu-logser.realme.com CNAME .
iot-logser.realme.com CNAME .
*.iot-logser.realme.com CNAME .
ir-na.amazon-adsystem.com CNAME .
*.ir-na.amazon-adsystem.com CNAME .
ironsource.mobi CNAME .
*.ironsource.mobi CNAME .
is.com CNAME .
*.is.com CNAME .
js-agent.newrelic.com CNAME .
*.js-agent.newrelic.com CNAME .
js.driftt.com CNAME .
*.js.driftt.com CNAME .
jsecoin.com CNAME .
*.jsecoin.com CNAME .
juicyads.com CNAME .
*.juicyads.com CNAME .
kadam.net CNAME .
*.kadam.net CNAME .
klaviyo.com CNAME .
*.klaviyo.com CNAME .
kochava.com CNAME .
*.kochava.com CNAME .
lentainform.com CNAME .
*.lentainform.com CNAME .
liftoff.io CNAME .
*.liftoff.io CNAME .
list-manage.com CNAME .
*.list-manage.com CNAME .
live.chartboost.com CNAME .
*.live.chartboost.com CNAME .
liveinternet.ru CNAME .
*.liveinternet.ru CNAME .
log.byteoversea.com CNAME .
*.log.byteoversea.com CNAME .
log.fc.yahoo.com CNAME .
*.log.fc.yahoo.com CNAME .
log.outbrain.com CNAME .
*.log.outbrain.com CNAME .
log.pinterest.com CNAME .
*.log.pinterest.com CNAME .
logbak.hicloud.com CNAME .
*.logbak.hicloud.com CNAME .
logs.roku.com CNAME .
*.logs.roku.com CNAME .
logservice.hicloud.com CNAME .
*.logservice.hicloud.com CNAME .
logservice1.hicloud.com CNAME .
*.logservice1.hicloud.com CNAME .
logx.optimizely.com CNAME .
*.logx.optimizely.com CNAME .
luckyorange.com CNAME .
*.luckyorange.com CNAME .
m.doubleclick.net CNAME .
*.m.doubleclick.net CNAME .
mads-eu.amazon.com CNAME .
*.mads-eu.amazon.com CNAME .
mailcounter.ru CNAME .
*.mailcounter.ru CNAME .
marketgid.com CNAME .
*.marketgid.com CNAME .
mc.webvisor.org CNAME .
*.mc.webvisor.org CNAME .
mc.yandex.ru CNAME .
*.mc.yandex.ru CNAME .
media.net CNAME .
*.media.net CNAME .
mediavisor.doubleclick.net CNAME .
*.mediavisor.doubleclick.net CNAME .
metrics.brightcove.com CNAME .
*.metrics.brightcove.com CNAME .
metrics.data.hicloud.com CNAME .
*.metrics.data.hicloud.com CNAME .
metrics.icloud.com CNAME .
*.metrics.icloud.com CNAME .
metrics.mzstatic.com CNAME .
*.metrics.mzstatic.com CNAME .
metrics.spotify.com CNAME .
*.metrics.spotify.com CNAME .
metrics2.data.hicloud.com CNAME .
*.metrics2.data.hicloud.com CNAME .
metrika.yandex.ru CNAME .
*.metrika.yandex.ru CNAME .
mgid.com CNAME .
*.mgid.com CNAME .
mgid.ru CNAME .
*.mgid.ru CNAME .
mineralt.io CNAME .
*.mineralt.io CNAME .
minero.cc CNAME .
*.minero.cc CNAME .
mixadvert.com CNAME .
*.mixadvert.com CNAME .
mobile.yandexadexchange.net CNAME .
*.mobile.yandexadexchange.net CNAME .
mon.byteoversea.com CNAME .
*.mon.byteoversea.com CNAME .
monerominer.rocks CNAME .
*.monerominer.rocks CNAME .
mouseflow.com CNAME .
*.mouseflow.com CNAME .
mozilla.cloudflare-dns.com CNAME .
*.mozilla.cloudflare-dns.com CNAME .
mpx.rambler.ru CNAME .
*.mpx.rambler.ru CNAME .
mradx.net CNAME .
*.mradx.net CNAME .
ms.applovin.com CNAME .
*.ms.applovin.com CNAME .
mssl.fwmrm.net CNAME .
*.mssl.fwmrm.net CNAME .
munchkin.marketo.net CNAME .
*.munchkin.marketo.net CNAME .
mytarget.ru CNAME .
*.mytarget.ru CNAME .
ngfts.lge.com CNAME .
*.ngfts.lge.com CNAME .
nmetrics.samsung.com CNAME .
*.nmetrics.samsung.com CNAME .
notes-analytics-events.apple.com CNAME .
*.notes-analytics-events.apple.com CNAME .
notify.bugsnag.com CNAME .
*.notify.bugsnag.com CNAME .
nr.taboola.com CNAME .
*.nr.taboola.com CNAME .
o0.ingest.sentry.io CNAME .
*.o0.ingest.sentry.io CNAME .
o2.mouseflow.com CNAME .
*.o2.mouseflow.com CNAME .
odb.outbrain.com CNAME .
*.odb.outbrain.com CNAME .
offerwall.yandex.net CNAME .
*.offerwall.yandex.net CNAME .
onclickads.net CNAME .
*.onclickads.net CNAME .
onetag-sys.com CNAME .
*.onetag-sys.com CNAME .
open.oneplus.net CNAME .
*.open.oneplus.net CNAME .
openstat.net CNAME .
*.openstat.net CNAME .
openx.net CNAME .
*.openx.net CNAME .
otm-r.com CNAME .
*.otm-r.com CNAME .
outbrain.com CNAME .
*.outbrain.com CNAME .
outcome-ssp.supersonicads.com CNAME .
*.outcome-ssp.supersonicads.com CNAME .
pagead.l.doubleclick.net CNAME .
*.pagead.l.doubleclick.net CNAME .
pagead2.googleadservices.com CNAME .
*.pagead2.googleadservices.com CNAME .
pagead2.googlesyndication.com CNAME .
*.pagead2.googlesyndication.com CNAME .
pangleglobal.com CNAME .
*.pangleglobal.com CNAME .
partner.googleadservices.com CNAME .
*.partner.googleadservices.com CNAME .
partnerads.ysm.yahoo.com CNAME .
*.partnerads.ysm.yahoo.com CNAME .
partnerstack.com CNAME .
*.partnerstack.com CNAME .
permutive.com CNAME .
*.permutive.com CNAME .
pippio.com CNAME .
*.pippio.com CNAME .
pixel.adsafeprotected.com CNAME .
*.pixel.adsafeprotected.com CNAME .
pixel.facebook.com CNAME .
*.pixel.facebook.com CNAME .
pixel.mathtag.com CNAME .
*.pixel.mathtag.com CNAME .
pixel.quantserve.com CNAME .
*.pixel.quantserve.com CNAME .
pixel.quora.com CNAME .
*.pixel.quora.com CNAME .
pixel.rubiconproject.com CNAME .
*.pixel.rubiconproject.com CNAME .
pixel.spotify.com CNAME .
*.pixel.spotify.com CNAME .
popads.net CNAME .
*.popads.net CNAME .
popcash.net CNAME .
*.popcash.net CNAME .
popmyads.com CNAME .
*.popmyads.com CNAME .
posthog.com CNAME .
*.posthog.com CNAME .
prebid.adnxs.com CNAME .
*.prebid.adnxs.com CNAME .
privacyportal.onetrust.com CNAME .
*.privacyportal.onetrust.com CNAME .
prod.uidapi.com CNAME .
*.prod.uidapi.com CNAME .
profile.ad-tech.ru CNAME .
*.profile.ad-tech.ru CNAME .
propellerads.com CNAME .
*.propellerads.com CNAME .
propellerclick.com CNAME .
*.propellerclick.com CNAME .
pubads.g.doubleclick.net CNAME .
*.pubads.g.doubleclick.net CNAME .
pubmatic.com CNAME .
*.pubmatic.com CNAME .
px.adhigh.net CNAME .
*.px.adhigh.net CNAME .
px.ads.linkedin.com CNAME .
*.px.ads.linkedin.com CNAME .
px.srvcs.tumblr.com CNAME .
*.px.srvcs.tumblr.com CNAME .
qevents.quora.com CNAME .
*.qevents.quora.com CNAME .
quantcast.com CNAME .
*.quantcast.com CNAME .
quantserve.com CNAME .
*.quantserve.com CNAME .
r.lr-ingest.com CNAME .
*.r.lr-ingest.com CNAME .
r.mradx.net CNAME .
*.r.mradx.net CNAME .
r.stbid.ru CNAME .
*.r.stbid.ru CNAME .
rcm-na.amazon-adsystem.com CNAME .
*.rcm-na.amazon-adsystem.com CNAME .
realtime.luckyorange.com CNAME .
*.realtime.luckyorange.com CNAME .
recreativ.ru CNAME .
*.recreativ.ru CNAME .
redirect.frontend.weborama.fr CNAME .
*.redirect.frontend.weborama.fr CNAME .
redirect.viglink.com CNAME .
*.redirect.viglink.com CNAME .
redirector.skimresources.com CNAME .
*.redirector.skimresources.com CNAME .
redtram.com CNAME .
*.redtram.com CNAME .
refersion.com CNAME .
*.refersion.com CNAME .
relap.io CNAME .
*.relap.io CNAME .
rotaban.ru CNAME .
*.rotaban.ru CNAME .
rs.fullstory.com CNAME .
*.rs.fullstory.com CNAME .
rs.mail.ru CNAME .
*.rs.mail.ru CNAME .
rt.applovin.com CNAME .
*.rt.applovin.com CNAME .
rtb.openx.net CNAME .
*.rtb.openx.net CNAME .
rubiconproject.com CNAME .
*.rubiconproject.com CNAME .
rudderstack.com CNAME .
*.rudderstack.com CNAME .
rum.browser-intake-datadoghq.com CNAME .
*.rum.browser-intake-datadoghq.com CNAME .
s.adroll.com CNAME .
*.s.adroll.com CNAME .
s.clarity.ms CNAME .
*.s.clarity.ms CNAME .
s.innovid.com CNAME .
*.s.innovid.com CNAME .
s.skimresources.com CNAME .
*.s.skimresources.com CNAME .
samsung-com.112.2o7.net CNAME .
*.samsung-com.112.2o7.net CNAME .
samsungads.com CNAME .
*.samsungads.com CNAME .
sb.scorecardresearch.com CNAME .
*.sb.scorecardresearch.com CNAME .
sc-analytics.appspot.com CNAME .
*.sc-analytics.appspot.com CNAME .
sc-static.net CNAME .
*.sc-static.net CNAME .
scorecardresearch.com CNAME .
*.scorecardresearch.com CNAME .
script.hotjar.com CNAME .
*.script.hotjar.com CNAME .
sdk.iad-01.braze.com CNAME .
*.sdk.iad-01.braze.com CNAME .
sdk.privacy-center.org CNAME .
*.sdk.privacy-center.org CNAME .
sdkconfig.ad.intl.xiaomi.com CNAME .
*.sdkconfig.ad.intl.xiaomi.com CNAME .
sdkconfig.ad.xiaomi.com CNAME .
*.sdkconfig.ad.xiaomi.com CNAME .
secure.adnxs.com CNAME .
*.secure.adnxs.com CNAME .
securepubads.g.doubleclick.net CNAME .
*.securepubads.g.doubleclick.net CNAME .
security.cloudflare-dns.com CNAME .
*.security.cloudflare-dns.com CNAME .
sentry-cdn.com CNAME .
*.sentry-cdn.com CNAME .
sentry.io CNAME .
*.sentry.io CNAME .
servicer.mgid.com CNAME .
*.servicer.mgid.com CNAME .
sessions.bugsnag.com CNAME .
*.sessions.bugsnag.com CNAME .
settings-win.data.microsoft.com CNAME .
*.settings-win.data.microsoft.com CNAME .
settings.luckyorange.net CNAME .
*.settings.luckyorange.net CNAME .
shareasale-analytics.com CNAME .
*.shareasale-analytics.com CNAME .
shareasale.com CNAME .
*.shareasale.com CNAME .
sharethrough.com CNAME .
*.sharethrough.com CNAME .
siftscience.com CNAME .
*.siftscience.com CNAME .
singular.net CNAME .
*.singular.net CNAME .
smartclip.com CNAME .
*.smartclip.com CNAME .
smartclip.net CNAME .
*.smartclip.net CNAME .
smartyads.com CNAME .
*.smartyads.com CNAME .
smetrics.samsung.com CNAME .
*.smetrics.samsung.com CNAME .
smi2.ru CNAME .
*.smi2.ru CNAME .
snap.licdn.com CNAME .
*.snap.licdn.com CNAME .
snowplowanalytics.com CNAME .
*.snowplowanalytics.com CNAME .
soloway.ru CNAME .
*.soloway.ru CNAME .
spotxchange.com CNAME .
*.spotxchange.com CNAME .
spylog.com CNAME .
*.spylog.com CNAME .
ssl.google-analytics.com CNAME .
*.ssl.google-analytics.com CNAME .
ssl.p.jwpcdn.com CNAME .
*.ssl.p.jwpcdn.com CNAME .
ssp.adriver.ru CNAME .
*.ssp.adriver.ru CNAME .
stackadapt.com CNAME .
*.stackadapt.com CNAME .
statdynamic.com CNAME .
*.statdynamic.com CNAME .
static.ads-twitter.com CNAME .
*.static.ads-twitter.com CNAME .
static.adsafeprotected.com CNAME .
*.static.adsafeprotected.com CNAME .
static.criteo.net CNAME .
*.static.criteo.net CNAME .
static.doubleclick.net CNAME .
*.static.doubleclick.net CNAME .
static.hotjar.com CNAME .
*.static.hotjar.com CNAME .
static.klaviyo.com CNAME .
*.static.klaviyo.com CNAME .
static.media.net CNAME .
*.static.media.net CNAME .
stats.g.doubleclick.net CNAME .
*.stats.g.doubleclick.net CNAME .
stats.wp.com CNAME .
*.stats.wp.com CNAME .
stbid.ru CNAME .
*.stbid.ru CNAME .
surveys.hotjar.com CNAME .
*.surveys.hotjar.com CNAME .
sync-tm.everesttech.net CNAME .
*.sync-tm.everesttech.net CNAME .
sync.bumlam.com CNAME .
*.sync.bumlam.com CNAME .
sync.kargo.com CNAME .
*.sync.kargo.com CNAME .
sync.mathtag.com CNAME .
*.sync.mathtag.com CNAME .
sync.rambler.ru CNAME .
*.sync.rambler.ru CNAME .
sync.upravel.com CNAME .
*.sync.upravel.com CNAME .
t.skimresources.com CNAME .
*.t.skimresources.com CNAME .
taboola.com CNAME .
*.taboola.com CNAME .
tagmanager.google.com CNAME .
*.tagmanager.google.com CNAME .
tapad.com CNAME .
*.tapad.com CNAME .
target.my.com CNAME .
*.target.my.com CNAME .
teasernet.com CNAME .
*.teasernet.com CNAME .
telemetry.microsoft.com CNAME .
*.telemetry.microsoft.com CNAME .
thetradedesk.com CNAME .
*.thetradedesk.com CNAME .
tizerbox.ru CNAME .
*.tizerbox.ru CNAME .
tlx.3lift.com CNAME .
*.tlx.3lift.com CNAME .
tms.dmp.wi-fi.ru CNAME .
*.tms.dmp.wi-fi.ru CNAME .
tns-counter.ru CNAME .
*.tns-counter.ru CNAME .
tools.mouseflow.com CNAME .
*.tools.mouseflow.com CNAME .
top-fwz1.mail.ru CNAME .
*.top-fwz1.mail.ru CNAME .
top.mail.ru CNAME .
*.top.mail.ru CNAME .
tpc.googlesyndication.com CNAME .
*.tpc.googlesyndication.com CNAME .
tr.facebook.com CNAME .
*.tr.facebook.com CNAME .
tr.snapchat.com CNAME .
*.tr.snapchat.com CNAME .
track.hubspot.com CNAME .
*.track.hubspot.com CNAME .
track.linksynergy.com CNAME .
*.track.linksynergy.com CNAME .
trackcmp.net CNAME .
*.trackcmp.net CNAME .
tracking.miui.com CNAME .
*.tracking.miui.com CNAME .
tracking.rus.miui.com CNAME .
*.tracking.rus.miui.com CNAME .
trafficjunky.net CNAME .
*.trafficjunky.net CNAME .
trafmag.com CNAME .
*.trafmag.com CNAME .
trc.taboola.com CNAME .
*.trc.taboola.com CNAME .
tremorhub.com CNAME .
*.tremorhub.com CNAME .
trk.pinterest.com CNAME .
*.trk.pinterest.com CNAME .
tvinteractive.tv CNAME .
*.tvinteractive.tv CNAME .
tvpixel.com CNAME .
*.tvpixel.com CNAME .
u.openx.net CNAME .
*.u.openx.net CNAME .
udc.yahoo.com CNAME .
*.udc.yahoo.com CNAME .
udcm.yahoo.com CNAME .
*.udcm.yahoo.com CNAME .
unfiltered.adguard-dns.com CNAME .
*.unfiltered.adguard-dns.com CNAME .
unityads.unity3d.com CNAME .
*.unityads.unity3d.com CNAME .
upload.luckyorange.net CNAME .
*.upload.luckyorange.net CNAME .
upravel.com CNAME .
*.upravel.com CNAME .
us-ads.openx.net CNAME .
*.us-ads.openx.net CNAME .
us.i.posthog.com CNAME .
*.us.i.posthog.com CNAME .
us.ibs.lgappstv.com CNAME .
*.us.ibs.lgappstv.com CNAME .
us.info.lgsmartad.com CNAME .
*.us.info.lgsmartad.com CNAME .
vars.hotjar.com CNAME .
*.vars.hotjar.com CNAME .
vid.connatix.com CNAME .
*.vid.connatix.com CNAME .
videonow.ru CNAME .
*.videonow.ru CNAME .
videoroll.net CNAME .
*.videoroll.net CNAME .
visitweb.com CNAME .
*.visitweb.com CNAME .
vk-ads.com CNAME .
*.vk-ads.com CNAME .
vortex-win.data.microsoft.com CNAME .
*.vortex-win.data.microsoft.com CNAME .
vortex.data.microsoft.com CNAME .
*.vortex.data.microsoft.com CNAME .
vungle.com CNAME .
*.vungle.com CNAME .
w1.luckyorange.com CNAME .
*.w1.luckyorange.com CNAME .
watson.telemetry.microsoft.com CNAME .
*.watson.telemetry.microsoft.com CNAME .
wd.adcolony.com CNAME .
*.wd.adcolony.com CNAME .
weather-analytics-events.apple.com CNAME .
*.weather-analytics-events.apple.com CNAME .
webminepool.com CNAME .
*.webminepool.com CNAME .
weborama.fr CNAME .
*.weborama.fr CNAME .
webview.unityads.unity3d.com CNAME .
*.webview.unityads.unity3d.com CNAME .
webvisor.org CNAME .
*.webvisor.org CNAME .
widget.intercom.io CNAME .
*.widget.intercom.io CNAME .
widgets.outbrain.com CNAME .
*.widgets.outbrain.com CNAME .
widgets.pinterest.com CNAME .
*.widgets.pinterest.com CNAME .
ws-na.amazon-adsystem.com CNAME .
*.ws-na.amazon-adsystem.com CNAME .
www.anrdoezrs.net CNAME .
*.www.anrdoezrs.net CNAME .
www.awin1.com CNAME .
*.www.awin1.com CNAME .
www.coinimp.com CNAME .
*.www.coinimp.com CNAME .
www.dpbolvw.net CNAME .
*.www.dpbolvw.net CNAME .
www.google-analytics.com CNAME .
*.www.google-analytics.com CNAME .
www.googletagmanager.com CNAME .
*.www.googletagmanager.com CNAME .
www.tkqlhce.com CNAME .
*.www.tkqlhce.com CNAME .
www.tns-counter.ru CNAME .
*.www.tns-counter.ru CNAME .
wzrkt.com CNAME .
*.wzrkt.com CNAME .
xp.apple.com CNAME .
*.xp.apple.com CNAME .
yabs.yandex.ru CNAME .
*.yabs.yandex.ru CNAME .
yadro.ru CNAME .
*.yadro.ru CNAME .
yandexadexchange.net CNAME .
*.yandexadexchange.net CNAME .
yandexmetrica.com CNAME .
*.yandexmetrica.com CNAME .
yumenetworks.com CNAME .
*.yumenetworks.com CNAME .
zenaps.com CNAME .
*.zenaps.com CNAME .
ad.mail.ru CNAME .
adsdk.yandex.ru CNAME .
an.yandex.ru CNAME .
awaps.yandex.ru CNAME .
bs.yandex.ru CNAME .
clck.yandex.ru CNAME .
counter.rambler.ru CNAME .
mc.yandex.ru CNAME .
mobile.yandexadexchange.net CNAME .
mpx.rambler.ru CNAME .
profile.ad-tech.ru CNAME .
rs.mail.ru CNAME .
top-fwz1.mail.ru CNAME .
www.tns-counter.ru CNAME .
yabs.yandex.ru CNAME .
