network_vpn_interface={{ cascade_ssh_tun_network_interface }}
network_vpn_server_ipv4={{ cascade_ssh_tun_public_host }}
network_vpn_gateway_ipv4={{ cascade_ssh_tun_network_vpn_gateway_ipv4 }}
network_vpn_client_cidr_ipv4={{ cascade_ssh_tun_network_vpn_client_cidr_ipv4 }}
network_vpn_mtu={{ cascade_ssh_tun_client_tun_mtu }}
