Protocol 2
Port {{ ansible_port | int }}
Port {{ system_base_management_sshd_port | int }}
MaxSessions 2
PermitRootLogin {{ 'yes' if (system_base_harden_ssh_initial_user == 'root' or 'root' in system_base_harden_ssh_preserve_users) else 'no' }}
PermitTunnel no
PrintLastLog no
Compression no
UsePAM yes
UseDNS no
PasswordAuthentication yes
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
LoginGraceTime 10
IgnoreRhosts yes
HostbasedAuthentication no
AllowUsers {{ ([system_base_harden_ssh_initial_user] + system_base_harden_ssh_preserve_users + [system_base_deploy_user]) | unique | join(' ') }}
PermitEmptyPasswords no
PermitUserEnvironment no
PermitUserRC no
GatewayPorts no
MaxAuthTries 3
StrictModes yes
MaxStartups 5:30:20
TCPKeepAlive no
ClientAliveCountMax 3
ClientAliveInterval 20
X11Forwarding no
AddressFamily inet
PrintMotd no
AllowTcpForwarding no
AllowAgentForwarding no
PubkeyAuthentication yes
HostKey /etc/ssh/ssh_host_ed25519_key
HostKeyAlgorithms ssh-ed25519
Ciphers aes256-gcm@openssh.com
MACs hmac-sha2-512-etm@openssh.com
KexAlgorithms {{ system_base_harden_ssh_kex_algorithms }}
AuthorizedKeysFile .ssh/authorized_keys
LogLevel ERROR
SyslogFacility AUTHPRIV
Subsystem sftp /bin/false
