server:
    module-config: "respip validator iterator"

{% for source in topology_cascade_egress_unbound_rpz_sources %}
rpz:
    name: "{{ source.name }}"
{% if source.url is defined and source.url %}
    url: "{{ source.url }}"
{% endif %}
    zonefile: "{{ source.zonefile }}"
    rpz-action-override: nxdomain
    rpz-log: no

{% endfor %}
