VPN_USERNAME={{ ssh_tun_ssh_username }}
USER_GROUP=vpnusers
NETWORK_VPN_GATEWAY_CIDR_IPV4={{ ssh_tun_network_vpn_gateway_cidr_ipv4 }}
NETWORK_VPN_INTERFACE={{ ssh_tun_network_interface }}
NETWORK_VPN_SUBNET_CIDR_IPV4={{ ssh_tun_network_vpn_subnet_cidr_ipv4 }}
NETWORK_CONTAINER_VPN_IPV4={{ ssh_tun_network_container_vpn_ipv4 }}
VPN_TUN_MTU={{ ssh_tun_tun_mtu }}
