Types: deb
URIs: https://download.docker.com/linux/debian
Suites: {{ system_base_debian_codename }}
Components: stable
Architectures: {{ ansible_facts.architecture | regex_replace('x86_64', 'amd64') | regex_replace('aarch64', 'arm64') }}
Signed-By: /etc/apt/keyrings/docker.gpg
