vpn_username={{ cascade_ssh_tun_ssh_username }}
user_group=vpnusers
network_vpn_gateway_cidr_ipv4={{ cascade_ssh_tun_network_vpn_gateway_cidr_ipv4 }}
network_vpn_interface={{ cascade_ssh_tun_network_interface }}
network_vpn_subnet_cidr_ipv4={{ cascade_ssh_tun_network_vpn_subnet_cidr_ipv4 }}
network_container_vpn_ipv4={{ cascade_ssh_tun_network_container_vpn_ipv4 }}
vpn_tun_mtu={{ cascade_ssh_tun_tun_mtu }}
