[Unit]
Description=Nitka {{ ingress_compose_project }} Docker namespace watchdog
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart={{ ingress_watchdog_script_path }} --loop
Restart=always
RestartSec=5
TimeoutStartSec=30
Nice=5

[Install]
WantedBy=multi-user.target
