forward-zone:
    name: "."
    forward-tls-upstream: yes
{% for upstream in cascade_egress_unbound_forward_servers %}
    forward-addr: {{ upstream.address }}@853#{{ upstream.tls_name }}
{% endfor %}
